
<div class = "SearchBar">
    <button class="icon"> <img src ="../../assets/images/OIP.jpeg" alt=""></button>
    <input id="Search">
    <button class="icon-right"> 
        <img src ="../../assets/images/OIP.jpeg" alt="">
    </button>
</div>
<div class = "buttonArea">
    <ng-container *ngIf="seemore">
        <div class="MoreMenu">

        </div>
    </ng-container>
    <div  class="ButtonOver" >    
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            메일
        </div>
    </div>
    <div class="ButtonOver" >    
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            카페
        </div>
    </div>
    <div class="ButtonOver" >    
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            블로그
        </div>
    </div>
    <div class="ButtonOver" >    
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            쇼핑
        </div>
    </div>
    <div class="ButtonOver" >    
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            뉴스
        </div>
    </div>
    <div class="ButtonOver" > 
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            증권
        </div>
    </div>
    <div class="ButtonOver" > 
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            부동산
        </div>
    </div>
    <div class="ButtonOver" > 
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class = "TextButton">    
            지도
        </div>
    </div>
    <div class="ButtonOver" >     
        <button class ="buttons">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
        <div class="TextButton">    
            웹툰
        </div>
    </div>
    <div class="ButtonOver" >  
        <button class ="buttons seemore" (click)="SeeMore($event)">
            <img src ="../../assets/images/OIP.jpeg"> 
        </button>
    </div>
</div>


<!-- Mobile -->
<div class="ButtonSection-M">
    <div class="row">
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg">
        </div>
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
    </div>
    <div class="row">
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
        <div class="ButtonMobile">
            <img src ="../../assets/images/OIP.jpeg"> 
        </div>
    </div>
</div>